{% for message in app.flashes('notice') %}
    <div class="alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('notice-danger') %}
    <div class="alert-danger">
        {{ message }}
    </div>
{% endfor %}