{% for message in app.flashes('notice') %}
    <div class="row text-center">
        <div class="col-md-6 alert-ok">
            <div class="col-md-7 col-md-offset-1">
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% for message in app.flashes('notice-danger') %}
    <div class="row text-center">
        <div class="col-md-6 alert-notok">
            <div class="col-md-7 col-md-offset-1">
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
{% endfor %}