{% extends "game_home_layout.html.twig" %}

{% block title %}
    {{ 'title.game_description'|trans }}
{% endblock %}

{% block description %}
    {{ 'description.game'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'title.title-game'|trans }}</h2>

    <p class="section-description">
        {{ 'home.scenario'|trans }}
    </p>
{% endblock %}