
//Layout
html, body {
    color: $blackColor;
    font-size: 18px;
    
    @include mq-tablet {
        font-size: 20px !important;
        padding-right: 0px !important;
    }

    font-family: $mainFont;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

section {
    padding: 3% 1%;
}

//Headers
h1 {
    margin: 0;
}

h2 {
    @extend %headers;
    font-size: 180%;
    color: $secondaryColor;
    text-shadow: 0px 0px 6px $blackerColor;
    @include mq-max-smartphone {
        font-size: 190%;
    }
}

h3 {
    @extend %headers;
    font-size: 150%;
    font-weight: 600;
    color: $tertiaryColor;
    text-shadow: 0px 0px 4px $blackerColor;
}

h2, .h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3, .h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

//Input
input:focus, textarea:focus, button:focus {
    outline: 0 !important;
}

//Description
.section-description {
    margin: 1rem auto 0 auto;
    width: 69%;
    font-family: $secondaryFont;
    color: $imageText;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: 1.6rem;

    @include mq-max-tablet {
        width: 85%;
    }
}

#img_avatars {
    width: 100%;
    height: 500px;
    background: url('../img/window.png') no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image_avatar {
    width: 180px;
    height: 360px;
}

#dark-window {
    height: 800px;
    background: url('../img/dark-window.png') no-repeat;
    background-size: contain;
    justify-content: center;
    padding: 45px;

    h3 {
        margin-top: 10px;
    }
}

.building-icon {
    margin-bottom: 30px;
}

#name-building {
    background: url('../img/name-building.png') no-repeat;
    background-size: 100% 100%;
    padding: 10px 0;
}

#level-building {
    background: url('../img/level-building.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
    padding: 20px 0;
}

.resources-list {
    color: white;
}

#write-message {
    margin-bottom: 25px;
}

#avatar_messaging {
    width: 140px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

.one_message {
    padding-bottom: 50px;
}

.btn-response {
    margin-top: -30px;
}

.text-message {
    color: white;
    font-size: 0.7em;
}

.messages {
    height: 330px;
    background: url('../img/window_messaging.png') no-repeat;
    background-size: contain;
    padding: 0 40px;

    .message-body {
        overflow-y: scroll;
        height: 30%;
    }
}

.sale_resource {
    width: 600px;
    height: 250px;
    background: url('../img/window_market.png') no-repeat;
    background-size: contain;
    margin-bottom: 50px;

    .section-description {
        font-weight: bold;
        color: #673903;
        text-shadow: 0px 1px 0px #FAE1C1, 0px -2px 0px rgba(0,0,0,.7);

        span {
            font-size: xx-large;
        }
    }
}

#map_world {
    width: 80%;
    border: 5px solid darksalmon;
    margin-bottom: 20px;
}

#description_region {
    text-align: justify;
}

@media screen and (max-width: 1024px) {

    #form3 #image_avatar {
        height: 320px;
        margin-bottom: 30px;
    }

    .resources-list {
        margin-bottom: 0;
    }

    .sale_resource {
        margin: auto;
        margin-bottom: 60px;
    }

    .btn-response {
        margin-top: -120px;
    }
}

@media screen and (max-width: 768px) {

    #avatar_messaging {
        display: none;
    }

    #img_avatars {
        background-position: center;
    }

    #form2 #map_world {
        width: 90%;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    #name-building .building_row, #level-building .level_row, .build-building-form {
        width: 70%;
        margin: auto;
    }

    .building-icon {
        margin-bottom: 40px;
        text-align: center;
    }

    .sale_resource {
        margin: auto;
    }

    .sale_resource .section-description {
        margin-top: 0;
    }

    .resources-list {
        padding-top: 30px;
    }

    .btn-response {
        margin-top: 0;
    }

    .messages {
        padding-top: 10px;
        width: 90%;
    }
}

@media screen and (max-width: 450px) {

    #dark-window {
        background-size: cover;
        height: 100%
    }

    #map_world {
        width: 100%;
    }

    .sale_resource {
        width: 100%;

        .resources-list {
            margin-bottom: 0;
        }
    }

    .messages {
        height: 200px;
    }

    #img_avatars {
        align-items: normal;

        #image_avatar {
            width: auto;
            height: 50%;
            margin-top: 130px;
        }
    }

    #form2 #map_world {
        width: 95%;
    }

    .messages {
        height: 200px;
        width: 100%;

        h3 {
            margin-top: 15px;
            margin-bottom: 0;
        }

        .message-body {
            height: 40%;
        }
    }
}

@media screen and (max-width: 375px) {

    #img_avatars {
        background-size: auto;
    }
}
