# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: localhost
    database_port: null
    database_name: melhnor_chronicles
    database_user: root
    database_password: root
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport:  mail
    mailer_auth_mode:  login
    mailer_host:       SSL0.OVH.NET
    mailer_port:       587
    mailer_user:       admin@melhnor-chronicles2.fr
    mailer_password:   Barcelona57250

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    nb_pagination_admin: 5
