<div class="row pattern-dark">
    <footer class="container footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="#gallery">CGU</a></li>
                        <li><a href="#features">Mentions Légales</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-6">
                <nav class="social-nav">
                    <a href="#"><span class="ion-social-facebook"></span></a>
                    <a href="#"><span class="ion-social-twitter"></span></a>
                    <a href="#"><span class="ion-social-youtube"></span></a>
                    <a href="#"><span class="ion-social-instagram"></span></a>
                </nav>
            </div>
        </div>
        <div class="row">
            <p class="copyright">Copyright &copy; {{ 'now'|date('Y') }} Melhnor Chronicles</p>
        </div>
    </footer>
</div>